.content {
    height: 100vh;
    background-color: white;
}

.sider {
   
    max-height: 95vh;
    background-color: white;
    width: 300px;
    z-index: 1;
    overflow: auto;
    position: absolute;
    margin: 10px 10px;
    border-radius: 5px;
}

.add_new_route {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 15px;
}

.sider_wrapper {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}